<h1>prawn_document Arguments:</h1>
<p>The prawn_document function can take an optional hash of arguments.  These arguments will be passed to the constructor of the Prawn::Document object when it is created.</p>
<p>For example:</p>
<%= pdf_template(@_virtual_path) %>

<%= link_to "Download PDF", demos_arguments_path(:format=>:pdf) %>

<p>Note: there is one exception to this.  See <%= link_to "Overriding the Rendering Class", demos_override_path %>