<h1>Welcome to the Prawn Rails demo!</h1>
<p>Prawn Rails provides a PDF view engine for Rails 3 using the Prawn library.  It aims to provide as thin a wrapper around Prawn as possible, while providing Rails integration your used to with other view engines.  To get a basic idea of how to use Prawn Rails, have a look at the demos below.</p>
<p>The source for this app can be found at <a href='http://github.com/Volundr/prawn_rails_demo'>http://github.com/Volundr/prawn_rails_demo</a></p>
<h2>Available Demos:</h2>
<p><%= link_to "Basic Usage", demos_basic_path %></p>
<p><%= link_to "prawn_document Arguments", demos_arguments_path %>
<p><%= link_to "Accessing Instance Variables", demos_instance_path %></p>
<p><%= link_to "Overriding the Rendering Class", demos_override_path %></p>
