<!DOCTYPE html>
<html>
<head>
  <title>Prawn Rails Demo</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

<p><%= link_to "Back To Index", root_path %></p>
</body>
</html>